{
  "ConnectionStrings": {
    "AzureTableStorage": "REPLACE_WITH_YOUR_AZURE_CONNECTION_STRING"
  },
  "Azure": {
    "StorageAccount": {
      "Name": "posharedtablestorage",
      "Key": "REPLACE_WITH_YOUR_KEY"
    }
  }
}
